services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    restart: unless-stopped
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9000:9000
    # networks:
    #   media-apps:
    #     ipv4_address: 192.168.100.1
  ### filebrowser ###
  filebrowser:
    container_name: filebrowser
    image: filebrowser/filebrowser
    restart: always
    volumes:
      - /:/srv #change user to your name or use ~/
      - ${FB_DB_PATH}:/database.db #create the filebrowser.db file before deploying
    ports:
      - ${FB_WEBUI_PORT}:80
    user: ${UID}:${GID}
    # networks:
    #   media-apps:
    #     ipv4_address: 192.168.100.2

volumes:
  portainer_data:

networks:
  media-apps:
    ipam:
      driver: default
      config:
        - subnet: 192.168.100.0/24
