services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    restart: always
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9443:9443
    networks:
      media-apps:
        ipv4_address: 192.168.100.2

volumes:
  portainer_data:

networks:
  media-apps:
    ipam:
      driver: default
      config:
        - subnet: 192.168.100.0/24
